@forward '../app/scss/globals';

@font-face {
    font-family: "Comforta Bold";
    src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: "Comforta";
    src: url(../fonts/Comfortaa-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



@font-face {
    font-family: "DMSans Bold";
    src: url(../fonts/DMSans_18pt-Black.ttf);
}
@font-face {
    font-family: "DMSans";
    src: url(../fonts/DMSans_18pt-Medium.ttf);
}

@font-face {
    font-family: "Infinite";
    src: url(../fonts/INFINITY/MADEINFINITYPersonalUse-Black.otf);
}

@font-face {
  font-family: "Infinite 2";
  src: url(../fonts/INFINITY/MADEINFINITYPersonalUse-Regular.otf);
}


@media (orientation: portrait) {
    
  .desktop {
      display: none;
  }

  * {
  
      scroll-behavior: smooth;
      
  
  }
  
  ::-webkit-scrollbar {
      display: none;
  }
  
  a {
    color: #273222;
    font-family: "Infinite";
  }

  .mobile {
    display: flex;
    width: 100svw;
    justify-content: center;
  }

  .cadre {
    position: absolute;
    height: 100svh;
    width: 100svw;
    border: solid 30px black;
    z-index: 1;
}

.container-intro {
    display: flex;
    height: 97svh;
    margin-top: 10px;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    

    &.hidden {
        display: none;
    }

    .intro {
        height: fit-content;
        width: 95%;
        text-align: center;
        
        
        img {
            height: auto;
            width: 100%;
        }

    }

    .title {
        overflow: hidden;
        max-height: 250px;
        
    
    }
    .starter {
        position: absolute;
        top: 30%;
        max-height: 40px;
        margin-top: 20px;
        color: #3f5137;
        z-index: 1000;
        font-family: "Pixelify Sans";
        font-size: 1.5rem;
        overflow: hidden;
        animation: scale 2s infinite ease-in-out;

        @keyframes scale {
          50% {
            scale: 1.2;
          }
        }
    }
    
}



.container-menu {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    height: 95svh;
    width: 85%;
    overflow-y: hidden;
    z-index: 2;

    &.active {
        display: flex;
    }


    .container-items {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 70svh;
        width: 95%;
        gap: 7px;
        color: #3f5137;
        font-size: 1rem;
        font-family: "Infinite 2";
        
        .group > * {
            color: #3f5137;
            font-size: 1.2rem;
            font-weight: 700;

        }

        .btn {
            height: 100px;
            min-height: 100px;
            flex: 0 0 1;
            padding-left: 10px;
            display: flex;
            color: #3f5137;
            align-items: center;
            border: solid 6px #3f5137;
            font-family: "Pixelify Sans";

            &.active {
                background-color: #3f5137;
                color: #abd6aa;
            }
            &.hidden {
                display: none;
            }

            #who.active {
                background-color: #3f5137;
                color: #abd6aa;
            }
            #what.active {
                background-color: #3f5137;
                color: #abd6aa;
            }
        }

        .block {
            height: 65svh;
            margin-bottom: 10px;
            padding: 10px;
            border: solid 6px #3f5137;
            border-top: 0;
            overflow-y: auto;
            display: none;

            @media (min-height: 670px) {
                height: 70svh;
            }


            &.visible {
                display: block;
            }
        }

        #whatB {
            height: 49svh;
            justify-content: center;
            align-items: center;

            &.visible {
                display: flex;
            }

            @media (min-height: 670px) and (max-height:799px) {
                height: 55svh;
            }
            
            @media (min-height:800px) {
                height: 60svh;
            }
        }

        #howB {
            height: 29svh;
            border: none;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            &.visible {
                display: flex;
            }

            img {
                width: 80%;
                height: 200px;
                max-width: 300px;
            }

            @media (min-height: 670px) and (max-height:799px) {
                height: 35svh;

            }
            
            @media (min-height:800px) {
                height: 45svh;
                margin-top: 30px;

            }
        }
    }
}

.backTo {
    color:  #3f5137;
    position: absolute;
    bottom: 40px;
    animation: blink 3s ease-in-out infinite;
    font-size: 1.5rem;
    z-index: 1000;
    font-family: "Pixelify Sans";

    &.hidden {
      display: none;
    }

    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
}


.final {
    width: 100%;
    height: auto; // Mettre une plus grande taille permet d'éviter le problème du scroll qui rebondit
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3f5137;
    color: #677956;
    border-radius: 5px;
    font-size: 1.15rem;
    padding: 0;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);

    
    }

#cocoon {
    background-color: #3f5137;
    color: #677956;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.15rem;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);
}
#cocoon2 {
  
    background-color: #3f5137;
    color: #677956;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.15rem;
    
   
}
#disclaimer {

    background-color: #677956;
    color: #3f5137;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    font-size: 1.15rem;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);
}

.stateBar {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Pixelify Sans";
    flex-direction: row;
    margin: 0;
    padding: 0 10px 0 10px;


    #time {
        width: auto;
        height: auto;
        padding: 10px 0 7px 7px;
        display: flex;
        align-items: center;
    }

    #sound-btn {
        width: auto;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
        padding-right: 7px;
    }

    #lofi {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: right;
        padding-right: 7px;

    }

}
}

@media screen and (orientation: landscape) {
  .mobile {
      display: none;
  }
  body {
    background-color: #F3EEEA;
    height: 100svh;
    width: 100svw;
    color: #776B5D;
  overflow: hidden;
  user-select: none;
}



::-webkit-scrollbar {
  display: none;
}

// Nav bar

.nav-bar {
    position: fixed;
    align-self: center;
    width: 100svw;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    transition: opacity 1s;
    opacity: 0;
    z-index: 100;

    backdrop-filter: blur(10px);

    &.active {
      opacity: 1;
    }



    &::after {
              content: "";
              position: absolute;
              margin-left: 20%;
              height:3px;
              width: 60%;
              background: rgb(176,166,149);
              background: radial-gradient(circle, rgba(176,166,149,1) 10%, rgba(0,0,0,0) 100%);
              opacity: 50%;

              

              z-index: -1;
            }
          /* &::after {
              content: "";
              position: absolute;
              width: 2px;
              height: calc(100% - 50px);
              background-color: rgb(141, 141, 141);
              right: 10px;
              z-index: -1;
          } */

          li {
            height: 10px;
            width: 10px;

            a {
              color: rgba(255, 0, 0, 0);

              
            }
          }
}

.nav-bar a::before {
  content: "";
  position: absolute;
  height: 10px;
  rotate: 0deg;
  width: 20px;
  border-radius: 10px;
  background-color: #d0c5b3;
  transition: 1.5s;

}

strong {
  color: #908271;
}

.nav-bar a.active::before {
  background-color: #776B5D;
  rotate: 630deg;
}


.nav-bar ul {
  width: 97%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;

}


// Main content

.x-scroller {

  width: 100%;
  height: 100%;
  font-family: "DMSans Bold";

}

.main-container {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Welcome screen

.welcome-screen {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 100%;
    transition: opacity 2s;
    justify-content: center;
    align-items: center;
    font-family: "Infinite";
    flex-direction: column;
    rotate: 90deg;
    z-index: 1000;


    &.hidden {
      opacity: 0;
    }
    
    h2 {
        opacity: 70%;
    }

    img {
        height: 40px;
        opacity: 50%;
        rotate: -90deg;

        
    }
    
    a::before {
      opacity: 0;
    }


    #enter {
      position: absolute;
      display: block;
      width: 50px;
      height: 60px;
      


    }

    .baseBtn {
      border-radius: 10px;
      width: 28px;
      height: 8px;
      background-color: #908271;
      
      animation: appear 3s ease-in-out infinite;

      @keyframes appear {

        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 100%;
        }
  
        100% {
          opacity: 0;
        }
      
      }
      
    }

    #btn-down {

      animation: move 3s ease-in-out infinite;
      animation-play-state: running;
      align-self: center;
      justify-self: center;
      


    }
    @keyframes move {

      0% {
        opacity: 0;
      }

      50% {
        opacity: 100%;
        transform: translateY(15px);
      }

      100% {
        opacity: 0;
      }
    
    }
}


.sub-cont1 {
  width: 100svw;
  height: 100svh;
  opacity: 1;
  display: none;
}

.sub-cont2 {

  width: 100svw;
  height: 100svh;
  opacity: 1;
  display: none;
}

.sub-cont3 {

  width: 100svw;
  height: 100svh;
  opacity: 1;
  display: none;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    width: 100svw;
    padding-top: 12px;
    font-family: "Infinite";
    transform: translateX(100px);
    opacity: 0;
    transition: ease-out 1s;

    &.show {
      transform: translateX(0);
      opacity: 1;
    }


    .gradient-1 {
      position: absolute;
      width: 80%;
      height: 90%;
      top: 2.3%;
      background-color: #ebe3d5;
      background-image: linear-gradient(90deg, #ebe3d5 0%, #f2eeea 100%);
      z-index: -1;
    }

    .container {
      display: flex;


          .title h1 {
            position: absolute;
            padding: 20px 0 0 40px;
            font-size: 15vh;
            z-index: 10;
            
          }
      
          .id {
            margin-top: 15%;
            position: relative;
            top: -20vh;
            left: 70px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 13%;
            height: 60%;
            color: #776B5D;
            width: 13%;
            font-size: 1rem;
            line-height: 1.1;
            margin: 0;

            @media screen and (max-height: 1000px) {
              font-size: 0.8rem;
            }

            ul {
              padding: 0 0 10px 20px;
              margin: 0;
              display: flex;
              flex-direction: column;
              list-style: none;
            }

            li {
              padding-left: 40px;
              border-left: solid 3px #776b5d6e;
            }


            #dl {
              padding-top: 10px;
            }

            .ID {
              display: flex;
              flex-direction: column;
              height: 25%;
            }
            .OS {
              display: flex;
              flex-direction: column;
              height: 30%;
              padding-top: 30px;
            }
          }

          .texts {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: justify;
            font-size: 1.4rem;
            color: #776B5D;
            overflow-y: scroll;
            flex-direction: column;
            border: solid 3px;
            border-width: 5px;
            border-image-slice: 1;
            border-bottom: 0;
            border-image-source: linear-gradient(to bottom, #776B5D, #00000000);
            width: 40%;
            gap: 20px;
            height: 51%;
            z-index: 10;
            padding: 20px 10px 0 10px;
            backdrop-filter: blur(100px);
            font-family: "Infinite";
            @media screen and (max-height: 1000px) {
              font-size: 0.9rem;
              height: 50%;
            }

            
            h2 {
              top: 0;
              left: 0;
              width: 100%;
              font-size: 3.5vh;
              
              

            }

            h2::after {
                content: "";
                width: 100%;
                display: block;
                margin-top: 10px;
                height: 5px;
                background-color:#776B5D;
              
            }

            p {
              width: 100%;
            }

            #cocooning, #conscious {
              font-size: 1.5vh;
              background-color: #776B5D;
              font-family: "Infinite 2";
              border-radius: 10px;
              padding: 10px;
              text-align: center;
              color: #ebe3d5;
              font-weight: 700;

            }

            .moi {
              display: flex;
              flex-direction: row;
              align-self: center;
              object-fit: contain;
              justify-content: space-evenly;
              height: 60%;
              width: 80%;
              border-top: solid 3px #776B5D;
              border-bottom: solid 3px #776B5D;
              border-width: 80%;
              padding: 40px 0 40px 0;
              

              img {
                height: 120%;
                align-self: flex-end;

              }

              p {
                width: 50%;
                padding-top: 10px;
                align-self: center;
                font-size: 1.1rem;
                word-spacing: 0.3rem;
                text-align: left;
                line-height: 1.2;

                @media screen and (max-height: 1000px) {
                  font-size: 0.73rem;
                }
              }
            }
          }
      
          .pic {
            display: flex;
            position: absolute;
            bottom: 0;
            right: -1%;
            object-fit: contain;
            z-index: 100;
            height: 70%;
            width: auto;
            z-index: -1;

            img {
              height: 100%;
            }

      
          }
    }
    
    
    
}

.contact-me {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
  font-family: "Infinite";
  transform: translateX(100px);
  opacity: 0;
  padding-top: 12px;
  transition: ease-out 1s;

      &.show {
        transform: translateX(0);
        opacity: 1;
      }


      .gradient-1 {
        position: absolute;
        width: 80%;
        height: 90%;
        top: 2.3%;
        background-color: #ebe3d5;
        background-image: linear-gradient(90deg, #ebe3d5 0%, #f2eeea 100%);
        z-index: -1;
      }

      .container {
        display: flex;


        .title h1 {
          position: absolute;
          padding: 20px 0 0 40px;
          font-size: 15vh;
          z-index: 10;
          
        }

        .group {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 100px;
          width: 35%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .enveloppe {
            height: 90%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;


            .feuille {
              position: absolute;
              height: 400px;
              width: 450px;
              background-color: #776B5D;
              border: solid 3px;
              border-width: 3px;
              border-image-slice: 1;
              border-bottom: 0;
              border-image-source: linear-gradient(to bottom, #60564bd6, #00000000);
              display: flex;
              z-index: 0;
              opacity: 0;
              transition: ease-in-out 0.3s;
              flex-direction: column;
              font-family: "Infinite 2";

              @media screen and (max-height: 1000px) {
                width: 400px;
                height: 300px;
              }


              h2 {
                padding: 16px 15px;
                font-size: 12px;
                color: #f2eeea;
              }
              h3 {
                padding-left: 25px;
                padding-top: 2px;
                font-size: 10px;
              }
              h2, h3 {
                opacity: 0.8;
                color: #f2eeea;
              }
            }

            .front {
              backdrop-filter: blur(30px);
              background-color: #f2eeea;
              border: solid 3px;
              border-width: 5px;
              border-image-slice: 1;
              border-top: 0;
              border-image-source: linear-gradient(to top,     #776B5D, #00000000);
              position: absolute;
              height: 450px;
              width: 600px;
              display: flex;
              z-index: 1;
              transition: ease-in-out 0.3s;
              justify-content: center;
              align-items: center;

              @media screen and (max-height: 1000px) {
                width: 500px;
                height: 350px;
              }
            }

            .icons {
              display: flex;
              height: 30%;
              width: 30%;



            }

            #icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: auto;
              width: 200px;
              display: flex;
              -o-object-fit: cover;
              object-fit: cover;
              opacity: 100%;
              transition: ease-in-out 0.3s;
              z-index: 2;
            }
            #icon2 {
              position: absolute;

              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: auto;
              width: 200px;
              display: flex;
              -o-object-fit: cover;
              object-fit: cover;
              opacity: 0%;
              transition: ease-in-out 0.3s;
              z-index: 20;
            }

            
          }
        }

        .enveloppe:hover .front {
    
          box-shadow: 0px -18px 15px -18px rgba(58, 51, 40, 0.509);
        }
        .enveloppe:hover .feuille {
          transform: translateY(-115px);
          opacity: 75%;
        }
        .enveloppe:hover #icon {
          
          opacity: 100%;
        }
        .enveloppe:hover #icon2 {
          
          opacity: 100%;
        }
     
        .enveloppe:hover .form {
          
          opacity: 1;
        }
      
    
      
    
        .blank {
          display: flex;
          position: absolute;
          bottom: 0;
          right: -1%;
          object-fit: contain;
          z-index: 100;
          height: 70%;
          width: 390px;
          z-index: -1;
        }




        
  }
  
  
  
}




// Grid


  .grid-menu {
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;

    z-index: 50;
    padding-bottom: 100px;
  }

  .box {

    
    width: 100%;
    height: 100%;
    object-fit: fill;
    
    font-family: "Infinite";
    font-weight: 900;
    transition: ease-out 0.8s;
    filter: blur(5px);
    opacity: 0;

  }

  .show {
    
    filter: blur(0);
    opacity: 1;
  }


  .grid-conteneur {
    display: grid;
    width: 410px;
    height: 300px;
    grid-template-columns: 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% ;
    grid-template-rows: 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% ;
    gap: 13px;
    
    
  }
  
  .une {
      grid-column: 1 / 4;
      grid-row: 1 / 14;
      transform: translateY(-70%);
      opacity: 0;
      transition-delay: 200ms;

      &.show {
        transform: translateY(0%);
        opacity: 1;
      }
      
  }
  
  .deux {
      grid-column: 4 / 14;
      grid-row: 1 / 3;
      transform: translateX(300%);
      opacity: 0;
      transition-delay: 350ms;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .trois {
      grid-column: 4 / 14;
      grid-row: 3/ 5;
      transform: translateX(300%);
      opacity: 0;
      transition-delay: 300ms;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .quatre {
      grid-column: 4 / 21;
      grid-row: 5 / 8;
      transform: translateX(-150%);
      transition-delay: 100ms;
      opacity: 0;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .cinq {
      grid-column: 4 / 18;
      grid-row: 8 / 14;
      opacity: 0;

      &.show {
        opacity: 1;
      }
  }
  
  .six {
      grid-column: 14 / 19;
      grid-row: 1 / 2;
      transform: translateX(400%);
      opacity: 0;
      overflow: visible;
      padding-top: 6px;
      object-fit: cover;
      transition-delay: 500ms;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .sept {
      grid-column: 14 / 19;
      grid-row: 2 / 5;
      transform: translateX(400%);
      opacity: 0;
      transition-delay: 400ms;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .huit {
      grid-column: 19 / 21;
      grid-row: 1 / 5;
      transform: translateY(-300%);
      opacity: 0;
      transition-delay: 450ms;
      
      &.show {
        transform: translateY(0%);
        opacity: 1;
      }
  }
  
  .neuf {
      grid-column: 18 / 21;
      grid-row: 8 / 19;
      transform: translateY(100%);
      opacity: 0;
      transition-delay: 200ms;

      &.show {
        transform: translateY(0%);
        opacity: 1;
      }
  }
  
  .dix {
      grid-column: 1 / 18;
      grid-row: 14 / 17;
      transition-delay: 100ms;
      transform: translateX(100%);
      opacity: 0;

      img {
        width: 100%;
      }

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .onze {
      grid-column: 1 / 3;
      grid-row: 17 / 22;
      transform: translateY(200%);
      opacity: 0;
      transition-delay: 450ms;

      &.show {
        transform: translateY(0%);
        opacity: 1;
      }
  }
  
  .douze {
      grid-column: 3 / 12;
      grid-row: 17 / 22;
      transform: translateX(-300%);
      opacity: 0;
      transition-delay: 400ms;


      &.show {
        transform: translateX(0%);
        opacity: 1;
      }
  }
  
  .treize {
      grid-column: 12 / 18;
      grid-row: 17 / 19;
      transform: translateX(-400%);
      opacity: 0;
      transition-delay: 350ms;
      

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }

  }
  
  .quatorze {
      grid-column: 12 / 21;
      grid-row: 19 / 22;
      transform: translateX(-300%);
      opacity: 0;
      transition-delay: 300ms;

      &.show {
        transform: translateX(0%);
        opacity: 1;
      }



  }



}